h1{
    text-align: center ;
}
.mmmm{
    text-align: center ;
    

}
button{
    text-align: center ;
    background-color: rgb(12, 250, 202);
    color: black;
    size-adjust: width=50height=64;
    
    padding: 15px 30px; /* Taille plus grande */
    font-size: 20px; /* Taille de police plus grande */
    
}